*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0px;
    padding:0px
}
a{
    text-decoration: none;
    color: rgba(36, 46, 82, 1);
    ;
}
a:hover{
    color: #999999;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}
li{
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}
button{
    width: 135px;
    height: 45px;
    border-radius: 25px;
    border-color: #8B48BF;
    background-color: #8B48BF;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgba(139, 72, 191, 0.7);
    border-color :rgba(139, 72, 191, 0.7);
}
.a1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    margin-left: 8vw;
    margin-right: 8vw;
}
.b1{
    display: flex;
    flex-direction: column;
    width: 38%;
    align-items: flex-end;

}
.text1{
    font-size: 50px;
    color:rgba(36, 46, 82, 1);
    font-weight: bold;
    text-align: right;
}
.text2{
    font-weight: bold;
    text-align: right;
    margin-top: 8%;
    margin-bottom: 8%;
}
.a2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: #8B48BF;
    color: white;
    margin-top: 15vh;
}
.b2{
    display: flex;
    justify-content: space-between;
}
h2{
    margin-left: 17vw;
    width: 20vw;
    display: inline-block;
}
.b2-1{
    display: inline-block;
    width: 38%;
    margin-right: 8vw;
}
.a3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    background-color: #FAFAFA;
    background-size: cover;
}
.info{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}
h3{
    display: inline-block;
    margin-left: 25px;
}
.text{
    color: #B3B2B7;
    margin-left: 22%;
}
.boton{
    display: inline-block;
    width: 75px;
}
h4{
    color: #242E53;
    text-align: center;
    font-size: 40px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.a4{
    display: flex;
    position: relative;
    text-align: center;
    background-color: #FAFAFA;
    margin-left: 3%;
    margin-right: 3%;
}
h5{
    font-size: 1rem;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 20%;
    color: #3F4868;
}
.personas{
    margin-right: 2.5%;
    margin-left: -7.3%;
    margin-bottom: 2%;
}
.personas2{
    position: absolute;
    border-radius: 50%;
    top:-15%;
    margin-left: 1.5%;
}
.more{
    margin-top: 3%;
    margin-left: 45%;
}
.a5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: #8B48BF;
    color: white;
    margin-top: 15vh;
}
.h2{
    margin-left: -10%;
}
.boton2{
    background-color: #FFFFFF;
    color:#8B48BF;
}
.boton2:hover{
    background-color: #FAFAFA;
}
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    background-color: #1E1E26;
    height: 35vh;
    padding-left: 10%;
    padding-right: 10%;
}
.logos{
    width: 20%;
}
.logos1{
    margin-bottom: 40%;
}
.logos2{
    margin-left: 5%;
}
.final1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: lighter;
    padding-right: 0%;
}
.final2{
    color: #FFFFFF;
}
#final2{
    margin-bottom: 17%;

}
.final2:hover{
    color: #999999;
}
form{
    width: 33%;
    display: flex;
}
#text{
    position: absolute;
    font-size: 0.7rem;
    text-align: right;
    margin-top: 14%;
    margin-left: 60%;
}
#correo{
    border-radius: 25px;
    height: 30%;
    padding-left: 4%;
    padding-right: 10%;
}
.go{
    width: 15%;
    margin-left: 5%;
    margin-top: 1%;
}
@media (min-width: 391px) {
    .hamburguesa{
    display: none;
    }
}
@media (max-width: 391px){
    .inicio, .contact{
        display: none;
    }
    .img1{
        width: 80vw;
    }
    .a1{
        position: relative;
        flex-direction: column;
    }
    .text1{
        font-size: 2rem;
        margin-left: -70%;
        margin-top: 45%;
        margin-right: -70%;
    }
    .text2{
        margin-left: -70%;
        margin-top: 45%;
        margin-right: -70%;
        font-size: 0.8rem;
        margin-bottom: 25%;
    }
    .contact1{
        margin-right: -67%;
    }
    .a2{
        background-color: #3CDDF3;
        flex-direction: column;
    }
}